@layer adl-content {

    //
    @media screen {
        //
        @mixin mobile-version {
            :where(.ui-content) {
                & { column-gap: 0rem; };
                & { grid-template-columns: minmax(0px, 0rem) minmax(0px, 1fr); };
                .adl-toolbar { z-index: 98; };
                .adl-content-box { grid-column: 1 / -1; };
                .adl-tab-box {
                    & { grid-column: 1 / -1; };
                    &:not(.adl-open) { translate: calc(-100% - 0.2rem) 0px; };
                    &.adl-open { translate: 0px 0px; };
                }
            }
        }

        //
        @mixin desktop-version {
            :where(.ui-content) {
                & { grid-template-columns: minmax(12rem, 0rem) minmax(0px, 1fr); };
                .adl-toolbar { z-index: 99; };
                .adl-tab-box { grid-column: 1 / 1 span !important; translate: 0px 0px; };
                .adl-content-box { grid-column: 2 / 2 span; };
            }
        }

        //
        :where(.ui-content) {

            //
            & {
                display: inline grid;
                grid-template-columns: minmax(0px, 0rem) minmax(0px, 1fr);
                grid-template-rows: minmax(2.25rem, max-content) minmax(0px, 1fr);
                box-sizing: border-box;
                font-size: 0.75rem;
                background-color: transparent;
                gap: 0.1rem;
                column-gap: 0.2rem;
                padding: 0.3333rem;
                touch-action: none;
            }

            //
            ui-longtext, input {
                touch-action: none;
            }

            //
            .adl-toolbar {
                & {
                    grid-row: 1 / 1 span;
                    grid-column: 1 / -1;
                    inline-size: 100%;
                    min-block-size: 100%;
                    block-size: max-content;

                    //
                    padding: 0px;
                    z-index: 98;
                    display: flex;
                    justify-content: start;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 0.25rem;
                    padding-inline: 0.125rem;
                    background-color: transparent;

                    //
                    touch-action: none;
                }

                //
                .adl-space {
                    flex-grow: 1;
                    flex-basis: stretch;
                    touch-action: none;
                }

                //
                button {
                    aspect-ratio: 1 / 1;
                    block-size: 100%;
                    inline-size: max-content;
                    min-block-size: 2rem;
                    padding: 0.5rem;
                    margin: 0px;
                    border-radius: 0.25rem;
                    touch-action: none;
                }
            }

            //
            .adl-main {

                //
                & {
                    display: grid;
                    grid-template-columns: subgrid;
                    grid-template-rows: minmax(0px, 1fr);
                    grid-auto-flow: row;
                    border-radius: 0.5rem;
                    touch-action: none;
                    grid-column: 1 / -1;
                    inline-size: 100%;
                    block-size: 100%;
                    overflow: hidden;
                    gap: 0.2rem;
                    row-gap: 0px;
                    padding: 0px;

                    //
                    content-visibility: visible;
                    padding-inline-end: max(calc(env(safe-area-inset-right, 0px) - 0.3333rem), 0px);
                    padding-block-end: max(calc(env(safe-area-inset-bottom, 0px) - 0.3333rem), 0px);
                    padding-inline-start: max(calc(env(safe-area-inset-left, 0px) - 0.3333rem), 0px);
                }

                //
                & > :where(*) {
                    grid-row: 1 / 1 span;
                    inline-size: 100%;
                    block-size: 100%;
                }

                //
                .adl-tab-box {
                    //
                    & {
                        inline-size: 100%;
                        block-size: 100%;
                        transition: translate 0.2s;
                        grid-column: 1 / -1;
                        padding: 0rem;
                        overflow: hidden;
                        justify-self: start;
                        border-radius: 0.5rem;
                        z-index: 99;
                    }

                    //
                    .adl-tabs {
                        background-color: transparent;
                        display: inline grid;
                        grid-auto-rows: minmax(0px, max-content);
                        grid-template-columns: minmax(2rem, max-content) minmax(0px, 1fr);
                        block-size: max-content;
                        inline-size: 100%;
                        overflow: hidden;
                        border-radius: 0rem;
                        //border-start-end-radius: 0px;
                        //border-end-end-radius: 0px;
                    }

                    //
                    ui-select-row {
                        block-size: 2.5rem;
                        display: inline grid;
                        grid-template-columns: subgrid;
                    }

                    //
                    ui-icon {
                        min-block-size: 2rem;
                    }

                    //
                    &:has(.adl-tabs:empty) { display: none !important; visibility: hidden !important; pointer-events: none !important; :where(*) { display: none !important;  visibility: hidden !important; pointer-events: none !important; }; };
                }

                //
                .adl-content-box {
                    & {
                        block-size: 100%;
                        inline-size: 100%;
                        grid-column: 2 / 2 span;
                        touch-action: none;

                        //
                        border-radius: 0.5rem;
                        place-content: center;
                        place-items: center;
                    }

                    //
                    .adl-content {

                        & {
                            place-content: center;
                            place-items: center;
                            display: flex;
                            padding: 1rem;
                            inline-size: 100%;
                            block-size: max-content;
                            min-block-size: 100%;
                            flex-direction: column;
                            overflow: hidden;
                            touch-action: none;

                            //
                            justify-content: start;
                            justify-items: start;
                            align-content: start;
                            align-items: start;
                        }

                        //
                        & ui-select-row {
                            & {
                                display: grid;
                                font-size: 0.7rem;
                                line-height: normal;
                                block-size: 2.25rem;
                                place-content: center;
                                place-items: center;
                                justify-content: start;
                                justify-items: start;
                                padding: 0.5rem;
                            }

                            //
                            ui-icon {
                                min-block-size: 1rem;
                            }

                            //
                            span, div { pointer-events: none; overflow: hidden; display: inline-block; inline-size: 100%; block-size: 100%; max-inline-size: 100%; max-block-size: 100%; };
                            span, div, & {
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow-wrap: anywhere;
                                text-overflow: ellipsis;
                                text-wrap: nowrap;
                                text-wrap-mode: nowrap;
                                text-wrap-style: pretty;
                                text-spacing-trim: trim-start;
                                white-space-collapse: collapse;
                            }
                        }

                        //
                        form {
                            background-origin: border-box;
                            background-clip: border-box;
                            box-sizing: border-box;
                            inline-size: 100%;
                            block-size: max-content;
                            padding: 0rem;
                            padding-block-start: 1rem;
                            border-radius: 0.333rem;

                            display: flex;
                            flex-direction: column;
                            overflow: hidden;

                            gap: 0.5rem;
                        }

                        //
                        .adl-form-label {
                            text-align: center;
                            opacity: 0.6;
                            font-size: 0.7rem;
                        }
                    }
                }

            }

            // if there is no toolbar, just use same content space
            &:not(:has(.adl-tabs)), &:has(.adl-tabs:empty) {
                .adl-content-box { grid-column: 1 / 2 span; };
                .adl-tab-box { display: none !important; visibility: hidden !important; pointer-events: none !important; :where(*) { display: none !important; visibility: hidden !important; pointer-events: none !important; }; };
            }

            // if there is no toolbar, just use same content space
            &:not(:has(.adl-toolbar)), &:has(.adl-toolbar:empty) {
                .adl-main { grid-row: 1 / 2 span; };
                .adl-tab-box { grid-row: 1 / 2 span; };
                .adl-toolbar { display: none; };
            }
        }

        //
        @media not (((hover: hover) or (pointer: fine)) and ((width >= 9in) or (orientation: landscape))) {
            @include mobile-version;
        }

        //
        @media (((hover: hover) or (pointer: fine)) and ((width >= 9in) or (orientation: landscape))) {
            @include desktop-version;
        }
    };

};
