@layer adl-item-edit {
    //
    .adl-buttons {
        & {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;

            //
            min-block-size: 2rem;
            block-size: max-content;
            place-content: stretch;
            place-items: stretch;
            box-sizing: border-box;
            padding: 0.5rem;

            //
            justify-content: space-between;
            inline-size: 100%;
        }

        //
        button {
            display: flex;
            place-self: stretch;
            flex-direction: row;
            box-sizing: border-box;
            min-block-size: 2rem;
            block-size: max-content;
            padding: 0.5rem;

            //
            inline-size: auto;
            min-inline-size: max-content;
            max-inline-size: 100%;
            flex-grow: 1;

            //
            outline: none 0px transparent;
            border: none 0px transparent;

            //
            overflow: hidden;
            border-radius: 0.125rem;
        }
    }

    //
    .adl-item-edit {

        //
        & {
            contain: none;
            container-type: inline-size;
            inline-size: 100%;
            block-size: 100%;
            min-block-size: max-content;
            box-sizing: border-box;

            //
            display: grid;
            grid-template-columns: minmax(4rem, max-content) minmax(0px, 1fr);
            grid-auto-rows: minmax(2rem, max-content);
            grid-auto-flow: column;
            gap: 1rem;

            //
            place-items: center;
            place-content: center;
        }

        //
        & > label {
            //
            & {
                inline-size: 100%;
                block-size: 100%;
                min-block-size: max-content;
                box-sizing: border-box;
                padding: 0rem;

                //
                display: grid;
                grid-template-columns: subgrid;
                grid-template-rows: minmax(0px, 1fr);
                grid-auto-flow: row;

                //
                grid-column: 1 / -1;
                place-self: center;
                place-items: center;
                place-content: center;

                //
                user-select: none;
            }

            //
            .adl-label {
                padding-inline-start: 0.6666rem;
                grid-column: 1 / 1 span;
                min-inline-size: max-content;
                min-block-size: max-content;
                block-size: 100%;
                inline-size: 100%;
                box-sizing: border-box;

                //
                user-select: none;
                pointer-events: none;

                //
                display: flex;
                place-content: center;
                place-items: center;
                justify-content: start;
                justify-self: start;
                text-align: start;
            }

            //
            .adl-input {
                //
                & {
                    grid-column: 2 / 2 span;
                    min-block-size: max-content;
                    inline-size: 100%;
                    block-size: 100%;
                    padding: 0rem;
                    box-sizing: border-box;
                    overflow: hidden;
                    border-radius: 0.33rem;

                    //
                    user-select: none;

                    //
                    display: flex;
                    place-content: stretch;
                    place-items: stretch;
                }

                //
                & > :where(*) {
                    inline-size: 100%;
                    block-size: 100%;
                    box-sizing: border-box;
                    position: relative;
                    place-self: center;
                    inset: auto;
                    translate: 0px 0px;
                }
            }
        }
    }
};
