@use "Settings";
@use "Manager";
@use "ItemEdit";
@use "Modal";

//
@layer adl-general {

    //
    #root {
        place-self: center;
        display: flex;
        pointer-events: auto;
        justify-self: start;
        align-self: start;

        //
        min-inline-size: 0px !important;
        min-block-size: 0px !important;
        inline-size: 100% !important;
        block-size: 100% !important;
        max-inline-size: 100% !important;
        max-block-size: 100% !important;

        //
        position: fixed !important;
        inset: 0px !important;
        inset-block-end: auto  !important;
        overflow: hidden !important;
        contain: strict !important;
        container-type: size !important;
    }

    //
    #viewport {
        overflow: hidden;
    }

}
