@use "Settings";
@use "Manager";
@use "ItemEdit";
@use "Modal";

//
@layer adl-general {

    //
    #root {
        inline-size: 100%;
        block-size: 100%;
        position: fixed;
        inset: 0px;
        place-self: center;
        display: flex;
        pointer-events: auto;
        //background: transparent;
        overflow: hidden;
    }

}
