@layer adl-manager {

    //
    :where(.ui-content#manager) {

        //
        & {
            display: inline grid;
            grid-template-columns: minmax(0px, 15rem) minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            box-sizing: border-box;
        }

    }
}
