@layer adl-settings {

    //
    :where(.ui-content#settings) {

        //
        .adl-content {
            display: flex;
            padding: 1rem;
            overflow: hidden;

            //
            inline-size: 100%;
            block-size: max-content;
            min-block-size: 100%;
            flex-direction: column;
            gap: 1rem;
        }

    }
};
