@layer adl-settings {

    //
    @media screen {
        :where(.ui-content#settings) {

            //
            .adl-content {
                display: flex;
                padding: 0rem;
                overflow: hidden;

                //
                inline-size: 100%;
                block-size: max-content;
                min-block-size: 100%;
                max-block-size: none;
                flex-direction: column;
                gap: 1rem;
            }

            //
            .adl-main {
                background-color: transparent;
                padding: 0px;
            }

            //
            .adl-block {
                border-radius: 0.5rem;
                min-block-size: max-content;
                max-block-size: none;
                flex-direction: column;
                display: flex;
                inline-size: 100%;
            }

            form {
                border-radius: 0.5rem;
            }

            .adl-form-label {
                border-block-end: solid 1px oklch(from var(--rv-color, transparent) l c h / 0.4);
                block-size: max-content;
                line-height: 1.5;
                margin-inline: 1rem;
                padding: 0.5rem;
                padding-block-start: 0px;
            }
        }
    }

};
