//
#markdown * {
    contain-intrinsic-block-size: auto 1em;
}

//
[data-hidden] #markdown {
    display: none !important;
    content-visibility: hidden !important;
}

//
[data-dragging] #markdown {
    content-visibility: hidden !important;
    :where(*) {
        content-visibility: hidden !important;
    }
}

//
#markdown { isolation: isolate; touch-action: pan-y; };
